<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark " style="height: 67px;">
    <div class="container-fluid " style="padding: 6px;background-color: #212529;">
        <a class="navbar-brand text-white " href="#">Project KK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Friends
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/users/friends">Friends</a> </li>
                <li> <a class="dropdown-item" href="/users/requests">Requests</a></li>
              </ul>
            </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Posts
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li> <a class="dropdown-item" href="/posts/all">My Posts</a> </li>
              <li>  <a class="dropdown-item" href="/posts/shared">Shared Posts</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/posts/new">New Post</a>
          </li>
          
         
        </ul>

        <ul  class="navbar-nav ml-auto bg-light rounded m-2" id="navBar">
           <li class="nav-item pl-5">
                <svg class="nav-link" xmlns="http://www.w3.org/2000/svg"  width="50" height="40" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                  <a xlink:href="/users/add">
                 <path  d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                </a>
                <a href="/users/add" >Add Friend</a>
              </svg>
           </li>
           <li  class="nav-item ">
            <a  class="nav-link text-black" href="/users/<%= us._id  %> ">Profile</a>
          </li>
           <li  class="nav-item">
            <a  class="nav-link  text-black" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

