#profilepic{
    width:80%;
    margin:auto;
    object-fit: contain;
    max-width: 100%;
    padding-top:5%;
}

@media only screen and (max-width: 990px){   
   #Profilediv{
        display:flex;
        flex-direction: column;
    }
    #profilepic{
        width:210%;
    }
    #Info{
        width:100%;
    }
}